rlds
lz4
flax
trfl
dm-acme
tensorflow_probability==0.15.0
dm-control
chex==0.1.6
jaxlib==0.4.3
numpy
optax
dm-sonnet
pillow
dm-haiku
atari-py
dm-haiku==0.0.10
pygame==2.1.0
tensorflow==2.8.0
jax==0.4.3
mctx
rlax==0.1.6
typing-extensions
dm-launchpad==0.5.2
bsuite
dm-reverb==0.7.2
dm-env
tensorflow_datasets==4.6.0
absl-py
gym[atari]
gym==0.25.0
gymnasium
optax==0.1.7
tensorboardX
dm-tree
